$font: 'Inter',sans-serif;
$text-color-primary: #111;
$text-color-secondary:#555;
$white-color: #fff;
$text-gray: #ccc;

$color-primary:#DF00A1 ;
// $color-secondary: ;
$gray-color: #EEEEEE;
$gray-color2: #777777;