.gallery {
  display: flex;
  gap: 32px;
  &__list {
    display: flex;
    gap: 32px;
    flex-direction: column;

    .gallery__first {
      display: flex;
      gap: 32px;
      &--item2 {
        display: flex;
        gap: 32px;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .gallery__second {
      display: flex;
      background-color: #DF00A1;
      .text{
        padding: 48px 0 80px 78px;
        p{
          margin-top: 64px;
          padding-left: 32px;
          border-left: 2px solid;
          width: 243px;
          line-height: 24px;
        }
      }
    }
    .person--mobile{
      display: none;
    }
  }
  .right{
    .gallery__list{
      flex-direction: column-reverse;
      .gallery__first{
        flex-direction: column;
        &--item2{
          flex-direction: row;
        }
      }
      .gallery__second{
        background-color: $text-color-primary;
        p{
          color: $text-gray;
        }
      }
    }
  }

}