.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 160px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    gap: 160px;

    .hero__heading {
      width: 100%;
      max-width: 600px;

      &-title {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
      }

      &-heading {
        font-weight: 300;
        font-size: 72px;
        margin: 34px 0;
        letter-spacing: 1.1px;
        text-shadow: 2px 0px 1px #3EFFB9;
      }

      &-links {
        .btn {
          border: 3px solid;
        }

        button {
          padding: 12px;
          border-radius: 12px;
          font-size: 18px;
          font-weight: 500;
        }

        &--active {
          color: #fff;
          background-color: $color-primary;
          margin-right: 32px;
          border: none;
        }
      }
    }
  }

  &__graphic {
    flex: 1;
    background-image: url('../../assets/img/main/hero/background.png');
    background-position: top center;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .app-icon {
      position: absolute;
      bottom: -2px;
      left: 63px;
    }
  }
}

.hero_detail {
  display: flex;
  justify-content: flex-start;

  .detail__content {
    width: 192px;
    border-top: 2px solid;
    margin-right: 32px;

    img {
      margin: 22px auto;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }

    p.detail-year {
      font-size: 18px;
      margin: 20px 0;
    }

    p.detail-des {
      color: $text-color-secondary;
      line-height: 22px;
    }
  }
}

.hero.upsell {
  .hero__graphic {
    .app-icon {
      left: 15%;
      top: 50%;
      transform: translateY(-47%);
    }

    .mobile-app {
      width: 56%;
      float: right;
    }
  }
}