.introSecond{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 800px;
  padding-top: 48px;
  &__text{
    display: flex;
    width: 53%;
    flex-direction: column;
    justify-content: space-between;
    max-width: 528px;
    width: 100%;
    padding: 0px 0 80px 78px;
    .text__top{
      &--title{
        font-weight: 300;
        font-size: 56px;
      }
      &--des{
        margin: 32px 0;
        line-height: 150%;
        color: $text-color-secondary;
      }
      button{
        padding: 0;
        i{
          margin-left: 10px;
        }
      }
    }
    .text__bottom{
      padding-left: 34px;
      border-left: 2px solid $text-color-secondary;
      &--title{
        margin-bottom: 16px;
      }
      &--des{
          line-height: 150%;
          color: $text-color-secondary;
      }
    }
  }

  &__img{
    width: 47%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    img{
      height: 100%;
    }
  }
  .introSecond_mobile{
    display: none;
  }
}

.introSecond2{
  background-color: #3EFFB9;
  padding-right: 80px;
  background-position: bottom;
  .introSecond__img{
    position: relative;
    p{
      position: absolute;
      bottom: 80px;
      right: 0;
    }
  }
}